parameters:
	ignoreErrors:
		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 4
			path: src/Exceptions/InvalidPackage.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 17
			path: src/Exceptions/InvalidPath.php
